@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
:root {
    --wrapper-width: 36rem;
    --tab-width: 15rem;
    --width-container-controls: 20em;
    --tab-height: 4rem;
    --height-elm-control: 3em;

    --font-family: "Varela Round", sans-serif;
    --rgba-shadow: rgba(216, 216, 216, .9);
    --rgba-input-outline: rgba(71, 160, 204, 1);
    --box-shadow: 0px 3px 7px var(--rgba-shadow);
    --box-input-glow: 0px 3px 7px var(--rgba-input-outline);
}

/* defaults + resets */

* { box-sizing: border-box; }
html { font-size: 20px; font-family: var(--font-family); }
body { margin: 0; }

ul { padding-inline-start: 0; list-style: none; }

button { 
    border: none; 
    background-color: var(--rgba-shadow); 
    font-family: var(--font-family);
    font-size: 1em;
    height: var(--height-elm-control);
}

/* icon resets */
#dropdown-units .fa-sort-down { position: relative; bottom: 2px; }

/* element styling */

#container-controls,
#container-tab-weather { /* elms with wrapper-container behavior */
    display: flex;
    flex-flow: row wrap;
    width: var(--wrapper-width);
    margin: 1em auto;
    height: fit-content;
}

#container-controls {
    position: fixed;
    align-content: flex-start;
    height: calc(100vh);
    width: var(--width-container-controls);
    top: 0;
    margin: 0;
    padding: .5em;
    background-color: #fff;
    box-shadow: var(--box-shadow);
}

#container-controls h3 { margin-bottom: 0; }
#container-controls > *:not(h3) {
    margin-top: .5em;
    margin-bottom: .75em;
}

#container-controls .switch { display: none; }
#container-controls .switch { width: 50%; height: var(--height-elm-control); }
#container-controls .switch > * { width: 100%; }
#container-controls .switch input[type="checkbox"] { display: none; }

#container-controls ul { width: 100%; }
#container-controls ul li,
#container-controls ul li a { display: block; cursor: pointer; }
#container-controls ul li a {
    padding: .5em 0;
}

#list-fetch-methods { display: flex; }

#list-fetch-methods li { width: 50%; margin-right: .5em; }
#list-fetch-methods li:last-child { margin-right: 0;}
#list-fetch-methods li button { width: 100%; }

#list-saved-cities {

}

#search-bar { 
    display: flex; 
    flex-flow: row wrap; 
    width: 100%;
    box-shadow: var(--box-shadow);
}
#search-bar > * {
    padding: 0 1em;
    font-family: var(--font-family);
}
#search-bar input[type="text"] { 
    flex-grow: 1; 
    font-size: 1em;
    border: none;
}
#search-bar input[type="text"]:focus { 
    outline: .1em solid var(--rgba-input-outline); 
    box-shadow: var(--box-input-glow); 
}


#container-controls #stats-storage {
    display: flex;
    width: 100%;
    justify-content: center;
    align-self: flex-end;
    position: absolute;
    bottom: 0;
}

#container-tab-weather {
    position: absolute; 
    flex-flow: column wrap;
    width: calc( 100% - var(--width-container-controls) );
    margin-left: var(--width-container-controls);
    padding: 0 2em;
}

.ul-grid {
    display: grid;
    gap: 1.5em;
    grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
    grid-auto-rows: 7em;

}

.ul-grid li {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    box-shadow: var(--box-shadow);
}
.ul-grid li p { text-align: center; }
.ul-grid li p:first-of-type { font-size: larger; margin: 0 0 .4em 0; }
.ul-grid li p:nth-child(2) { font-size: smaller; margin: 0; }

footer { display: none; }
footer {
    width: 100%;
    padding: 2em;
    text-align: center;
}