@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
:root {
    --wrapper-width: 36rem;
    --tab-width: 15rem;
    --tab-height: 4rem;

    --rgba-shadow: rgba(216, 216, 216, .9);
}

/* defaults + resets */

* { box-sizing: border-box; }

html { font-size: 20px; font-family: "Varela Round", sans-serif; }

body { margin: 0; }

ul { padding-inline-start: 0; list-style: none; }


/* icon resets */
#dropdown-units .fa-sort-down { position: relative; bottom: 2px; }

/* element styling */

h1,
#container-controls,
#container-tab-weather { /* elms with wrapper-container behavior */
    display: flex;
    flex-flow: row wrap;
    width: var(--wrapper-width);
    margin: 1em auto;
    height: fit-content;
    border: 2px solid black;
}


#container-controls input:not([type="checkbox"]),
#container-controls button,
#container-controls label {
    height: 4em;
    padding: 1em;
}

#search-bar { 
    display: flex; 
    flex-flow: row wrap; 
    width: 100%;
}
#search-bar input[type="text"] { flex-grow: 1; }
#search-bar input::placeholder { font-style: italic; }
#search-bar input:focus::placeholder { font-style: normal; }
#search-bar button { width: fit-content; padding: 0 2em; }

#dropdown-units,
#switch-hour-format { width: 50%; }
#dropdown-units > *,
#switch-hour-format > * {
    width: 100%;
}

#dropdown-units ul { margin: 0; display: none; }

#container-tab-weather {
    flex-flow: column wrap;
}

#container-tab-weather ul,
#container-tab-weather ul li.weather-list,
#container-tab-weather ul li.temp-list,
#container-tab-weather ul li.feels_like-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}
#container-tab-weather ul:not(#hourly-data) li:not(.weather-list):not(.temp-list):not(.feels_like-list),
#container-tab-weather ul li ul li {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    min-width: 10em;
    flex-grow: 1;
    border: 2px solid black;
}



/*.tab-weather {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: fit-content;
}
.tab-weather section {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}
.tab-weather section:first-of-type {
    display: flex;
}*/

/*.tab-weather {
    width: var(--tab-width);
    height: fit-content;
    box-shadow: 2px 2px 5px var(--rgba-shadow);
    border-radius: 1em;
    font-size: .75rem;
}

.tab-weather ul h4 { width: 100%; text-align: center; }

.tab-weather ul:not(.ul-data-overview) {
    display: flex;
    flex-flow: row wrap;
}
.tab-weather ul:not(.ul-data-overview) li {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    text-align: center;
    flex-grow: 2;
    min-width: 33%;
    max-width: 100%;
    height: fit-content;
}
.tab-weather ul:not(.ul-data-overview) li p:first-of-type {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
}*/


footer {
    width: 100%;
    padding: 2em;
    text-align: center;
}